:root {
  --branding-color: #6c63ff;
  --primary-family: "Playfair Display", serif;
  --secondary-family: "Poppins", sans-serif;
}

h1 {
  font-family: var(--primary-family);
  font-size: 96px;
  font-weight: bold;
  line-height: 1.5;
}
h2 {
  font-family: var(--primary-family);
  font-size: 64px;
}
.hero h2 {
  font-family: var(--secondary-family);
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

p {
  font-family: var(--secondary-family);
  font-size: 16px;
  color: #272142;
  font-weight: normal;
  line-height: 30px;
}
.hero {
  text-align: center;
  background: #f9f7fe;
  padding: 160px 20px;
}
.btn-primary {
  padding: 12px 20px;
  font-family: var(--secondary-family);
  font-size: 18px;
  color: white;
  background: var(--branding-color);
  border-radius: 4px;
  line-height: 27px;
}
.btn-branding-outline {
  border-radius: 4px;
  font-family: var(--secondary-family);
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
}
.project-description {
  padding: 120px 60px;
}
@media (max-width: 960px) {
  .project-description {
    padding: 0;
    text-align: center;
  }
  h1 {
    font-size: 44px;
  }
  h2 {
    font-size: 44px;
  }
  .hero {
    padding: 80px 20px;
  }
}
