:root {
  --primary-family: "Playfair Display", serif;
  --secondary-family: "Poppins", sans-serif;
}

h1 {
  font-family: var(--primary-family);
  font-size: 96px;
  font-weight: bold;
  line-height: 1.5;
}

.hero h2 {
  font-family: var(--secondary-family);
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

p {
  font-family: var(--secondary-family);
  font-size: 24px;
  color: #272142;
  font-weight: normal;
  line-height: 2;
}
.hero {
  text-align: center;
  background: #f9f7fe;
  padding: 160px 20px;
}
.btn-primary {
  padding: 12px 20px;
  font-family: var(--secondary-family);
  font-size: 18px;
  color: white;
  background: #6c63ff;
  border-radius: 4px;
  line-height: 27px;
}
